.Bangladesh{
    height: 200px;
    width: 500px;
    padding: 2opx;
    margin: 20px;
    background-color: gold;
    border: 2px solid blue;
    align-self: start;
}
.london{
    height: 200px;
    width: 500px;
    padding: 2opx;
    margin: 20px;
    background-color: gold;
    border: 2px solid blue;
    align-self: start;
} 
