.maincontent{
    width: 700px;
    height: 800px;
    background-color: red;
    border: 7px solid blue;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    
    
}
.left{
    width: 200px;
    height:150px ;
    background-color: white;
    text-align: center;
    font-size: x-large;
    

    
    
}
.middle{
    width: 200px;
    height: 150px;
    background-color: red;
    text-align: center;
    font-size: x-large;
    
    
}
.right{
    width: 200px;
    height: 150px;
    background-color: purple;
    text-align: center;
    font-size: x-large;
    
    
}